 
/* start css.sty */
.phvr8t-x-x-109{ font-family: sans-serif;}
.phvr8t-x-x-109{ font-family: sans-serif;}
.zptmcm7t-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-80{font-size:72%; font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-60{font-size:54%; font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-60{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-60{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-80{font-size:72%; font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-60{font-size:54%; font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-60{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-60{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-80{font-size:72%; font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-60{font-size:54%; font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-60{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-60{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-109{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-80{font-size:72%; font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-80{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-60{font-size:54%; font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-60{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-60{ font-weight: bold; font-style: italic;}
.msam-10x-x-109{}
.msam-10x-x-80{font-size:72%;}
.msam-7x-x-85{font-size:54%;}
.msbm-10x-x-109{}
.msbm-10x-x-80{font-size:72%;}
.msbm-7x-x-85{font-size:54%;}
.ptmb7t-x-x-109{ font-weight: bold;}
.ptmb7t-x-x-109{ font-weight: bold;}
.ptmb7t-x-x-80{font-size:72%; font-weight: bold;}
.ptmb7t-x-x-80{ font-weight: bold;}
.phvb8t-x-x-109{font-family: sans-serif; font-weight: bold;}
.phvb8t-x-x-109{font-family: sans-serif; font-weight: bold;}
.phvb8t-x-x-248{font-size:225%;font-family: sans-serif; font-weight: bold;}
.phvb8t-x-x-248{font-family: sans-serif; font-weight: bold;}
.phvr8t-x-x-120{font-size:109%; font-family: sans-serif;}
.phvr8t-x-x-120{ font-family: sans-serif;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.phvro8t-x-x-109{ font-family: sans-serif;    font-style: oblique;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmtt-8{font-size:72%;font-family: monospace,monospace;}
.cmtt-8{font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.cmss-10x-x-109{  font-family: sans-serif;}
.ectt-1000{font-size:90%; font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mstyle[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; } 
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
.rotatebox{display: inline-block;}
.mdframed{margin-top:1em;margin-bottom:1em;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
 body { font-family: sans-serif; } li { margin-bottom:1em; } .heading { background-color: rgb(215, 215, 215); } @media only screen and (max-width: 959px) { .inner { max-width: 100%; margin: 0 auto; } .diagram { width: 100%; } .cover { width: 100%; } } @media (min-width: 960px) { .inner { max-width: 960px; margin: 0 auto; } .diagram { width: 720px; } .cover { width: 512px; } } 
span#colorbox1{background-color:rgb(214,214,214);}
#mdframed-1{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
#mdframed-2{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox2{background-color:#F2CCF2;}
span#colorbox3{background-color:#F2CCF2;}
span#colorbox4{background-color:#F2CCF2;}
span#colorbox5{background-color:#F2CCF2;}
span#colorbox6{background-color:#F2CCF2;}
span#colorbox7{background-color:#F2CCF2;}
#mdframed-3{border:2.0pt solid #0D3300; background-color: #F2FFCC; color:#000000;}
#mdframed-4{border:2.0pt solid #FF991A; background-color: #FFF5E5; color:#000000;}
#mdframed-5{border:2.0pt solid #0D3300; background-color: #F2FFCC; color:#000000;}
#mdframed-6{border:2.0pt solid #0D3300; background-color: #F2FFCC; color:#000000;}
#mdframed-7{border:2.0pt solid #FF991A; background-color: #FFF5E5; color:#000000;}
#mdframed-8{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox8{background-color:#F2CCF2;}
span#colorbox9{background-color:#F2CCF2;}
span#colorbox10{background-color:#F2CCF2;}
span#colorbox11{background-color:#F2CCF2;}
span#colorbox12{background-color:#F2CCF2;}
span#colorbox13{background-color:#F2CCF2;}
span#colorbox14{background-color:#F2CCF2;}
span#colorbox15{background-color:#F2CCF2;}
span#colorbox16{background-color:#F2CCF2;}
span#colorbox17{background-color:#F2CCF2;}
span#colorbox18{background-color:#F2CCF2;}
span#colorbox19{background-color:#F2CCF2;}
span#colorbox20{background-color:#F2CCF2;}
span#colorbox21{background-color:#F2CCF2;}
span#colorbox22{background-color:#F2CCF2;}
span#colorbox23{background-color:#F2CCF2;}
span#colorbox24{background-color:#F2CCF2;}
span#colorbox25{background-color:#F2CCF2;}
span#colorbox26{background-color:#F2CCF2;}
span#colorbox27{background-color:#F2CCF2;}
span#colorbox28{background-color:#F2CCF2;}
span#colorbox29{background-color:#F2CCF2;}
span#colorbox30{background-color:#F2CCF2;}
span#colorbox31{background-color:#F2CCF2;}
span#colorbox32{background-color:#F2CCF2;}
span#colorbox33{background-color:#F2CCF2;}
span#colorbox34{background-color:#F2CCF2;}
span#colorbox35{background-color:#F2CCF2;}
span#colorbox36{background-color:#F2CCF2;}
span#colorbox37{background-color:#F2CCF2;}
span#colorbox38{background-color:#F2CCF2;}
span#colorbox39{background-color:#F2CCF2;}
span#colorbox40{background-color:#F2CCF2;}
span#colorbox41{background-color:#F2CCF2;}
span#colorbox42{background-color:#F2CCF2;}
span#colorbox43{background-color:#F2CCF2;}
span#colorbox44{background-color:#F2CCF2;}
span#colorbox45{background-color:#F2CCF2;}
span#colorbox46{background-color:#F2CCF2;}
span#colorbox47{background-color:#F2CCF2;}
span#colorbox48{background-color:#F2CCF2;}
span#colorbox49{background-color:#F2CCF2;}
span#colorbox50{background-color:#F2CCF2;}
span#colorbox51{background-color:#F2CCF2;}
span#colorbox52{background-color:#F2CCF2;}
span#colorbox53{background-color:#F2CCF2;}
span#colorbox54{background-color:#F2CCF2;}
span#colorbox55{background-color:#F2CCF2;}
span#colorbox56{background-color:#F2CCF2;}
span#colorbox57{background-color:#F2CCF2;}
span#colorbox58{background-color:#F2CCF2;}
span#colorbox59{background-color:#F2CCF2;}
span#colorbox60{background-color:#F2CCF2;}
span#colorbox61{background-color:#F2CCF2;}
span#colorbox62{background-color:#F2CCF2;}
span#colorbox63{background-color:#F2CCF2;}
span#colorbox64{background-color:#F2CCF2;}
span#colorbox65{background-color:#F2CCF2;}
span#colorbox66{background-color:#F2CCF2;}
span#colorbox67{background-color:#F2CCF2;}
span#colorbox68{background-color:#F2CCF2;}
span#colorbox69{background-color:#F2CCF2;}
span#colorbox70{background-color:#F2CCF2;}
span#colorbox71{background-color:#F2CCF2;}
span#colorbox72{background-color:#F2CCF2;}
span#colorbox73{background-color:#F2CCF2;}
span#colorbox74{background-color:#F2CCF2;}
span#colorbox75{background-color:#F2CCF2;}
span#colorbox76{background-color:#F2CCF2;}
span#colorbox77{background-color:#F2CCF2;}
span#colorbox78{background-color:#F2CCF2;}
span#colorbox79{background-color:#F2CCF2;}
span#colorbox80{background-color:#F2CCF2;}
span#colorbox81{background-color:#F2CCF2;}
span#colorbox82{background-color:#F2CCF2;}
span#colorbox83{background-color:#F2CCF2;}
span#colorbox84{background-color:#F2CCF2;}
span#colorbox85{background-color:#F2CCF2;}
span#colorbox86{background-color:#F2CCF2;}
span#colorbox87{background-color:#F2CCF2;}
span#colorbox88{background-color:#F2CCF2;}
span#colorbox89{background-color:#F2CCF2;}
span#colorbox90{background-color:#F2CCF2;}
span#colorbox91{background-color:#F2CCF2;}
span#colorbox92{background-color:#F2CCF2;}
span#colorbox93{background-color:#F2CCF2;}
span#colorbox94{background-color:#F2CCF2;}
span#colorbox95{background-color:#F2CCF2;}
span#colorbox96{background-color:#F2CCF2;}
span#colorbox97{background-color:#F2CCF2;}
span#colorbox98{background-color:#F2CCF2;}
span#colorbox99{background-color:#F2CCF2;}
span#colorbox100{background-color:#F2CCF2;}
span#colorbox101{background-color:#F2CCF2;}
span#colorbox102{background-color:#F2CCF2;}
span#colorbox103{background-color:#F2CCF2;}
span#colorbox104{background-color:#F2CCF2;}
span#colorbox105{background-color:#F2CCF2;}
span#colorbox106{background-color:#F2CCF2;}
span#colorbox107{background-color:#F2CCF2;}
span#colorbox108{background-color:#F2CCF2;}
span#colorbox109{background-color:#F2CCF2;}
#mdframed-9{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox110{background-color:#F2CCF2;}
span#colorbox111{background-color:#F2CCF2;}
span#colorbox112{background-color:#F2CCF2;}
span#colorbox113{background-color:#F2CCF2;}
span#colorbox114{background-color:#F2CCF2;}
span#colorbox115{background-color:#F2CCF2;}
span#colorbox116{background-color:#F2CCF2;}
span#colorbox117{background-color:#F2CCF2;}
span#colorbox118{background-color:#F2CCF2;}
span#colorbox119{background-color:#F2CCF2;}
span#colorbox120{background-color:#F2CCF2;}
span#colorbox121{background-color:#F2CCF2;}
span#colorbox122{background-color:#F2CCF2;}
span#colorbox123{background-color:#F2CCF2;}
span#colorbox124{background-color:#F2CCF2;}
span#colorbox125{background-color:#F2CCF2;}
span#colorbox126{background-color:#F2CCF2;}
span#colorbox127{background-color:#F2CCF2;}
span#colorbox128{background-color:#F2CCF2;}
span#colorbox129{background-color:#F2CCF2;}
span#colorbox130{background-color:#F2CCF2;}
span#colorbox131{background-color:#F2CCF2;}
span#colorbox132{background-color:#F2CCF2;}
span#colorbox133{background-color:#F2CCF2;}
span#colorbox134{background-color:#F2CCF2;}
span#colorbox135{background-color:#F2CCF2;}
span#colorbox136{background-color:#F2CCF2;}
span#colorbox137{background-color:#F2CCF2;}
span#colorbox138{background-color:#F2CCF2;}
span#colorbox139{background-color:#F2CCF2;}
span#colorbox140{background-color:#F2CCF2;}
span#colorbox141{background-color:#F2CCF2;}
span#colorbox142{background-color:#F2CCF2;}
span#colorbox143{background-color:#F2CCF2;}
span#colorbox144{background-color:#F2CCF2;}
span#colorbox145{background-color:#F2CCF2;}
span#colorbox146{background-color:#F2CCF2;}
span#colorbox147{background-color:#F2CCF2;}
span#colorbox148{background-color:#F2CCF2;}
span#colorbox149{background-color:#F2CCF2;}
span#colorbox150{background-color:#F2CCF2;}
span#colorbox151{background-color:#F2CCF2;}
#mdframed-10{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox152{background-color:#F2CCF2;}
span#colorbox153{background-color:#F2CCF2;}
span#colorbox154{background-color:#F2CCF2;}
span#colorbox155{background-color:#F2CCF2;}
span#colorbox156{background-color:#F2CCF2;}
span#colorbox157{background-color:#F2CCF2;}
span#colorbox158{background-color:#F2CCF2;}
span#colorbox159{background-color:#F2CCF2;}
span#colorbox160{background-color:#F2CCF2;}
span#colorbox161{background-color:#F2CCF2;}
span#colorbox162{background-color:#F2CCF2;}
span#colorbox163{background-color:#F2CCF2;}
span#colorbox164{background-color:#F2CCF2;}
span#colorbox165{background-color:#F2CCF2;}
#mdframed-11{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox166{background-color:#F2CCF2;}
span#colorbox167{background-color:#F2CCF2;}
span#colorbox168{background-color:#F2CCF2;}
span#colorbox169{background-color:#F2CCF2;}
span#colorbox170{background-color:#F2CCF2;}
span#colorbox171{background-color:#F2CCF2;}
#mdframed-12{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox172{background-color:#F2CCF2;}
span#colorbox173{background-color:#F2CCF2;}
span#colorbox174{background-color:#F2CCF2;}
span#colorbox175{background-color:#F2CCF2;}
#mdframed-13{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox176{background-color:#F2CCF2;}
span#colorbox177{background-color:#F2CCF2;}
span#colorbox178{background-color:#F2CCF2;}
span#colorbox179{background-color:#F2CCF2;}
span#colorbox180{background-color:#F2CCF2;}
#mdframed-14{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox181{background-color:#F2CCF2;}
span#colorbox182{background-color:#F2CCF2;}
span#colorbox183{background-color:#F2CCF2;}
span#colorbox184{background-color:#F2CCF2;}
span#colorbox185{background-color:#F2CCF2;}
span#colorbox186{background-color:#F2CCF2;}
#mdframed-15{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox187{background-color:#F2CCF2;}
span#colorbox188{background-color:#F2CCF2;}
span#colorbox189{background-color:#F2CCF2;}
span#colorbox190{background-color:#F2CCF2;}
span#colorbox191{background-color:#F2CCF2;}
span#colorbox192{background-color:#F2CCF2;}
span#colorbox193{background-color:#F2CCF2;}
span#colorbox194{background-color:#F2CCF2;}
#mdframed-16{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox195{background-color:#F2CCF2;}
span#colorbox196{background-color:#F2CCF2;}
span#colorbox197{background-color:#F2CCF2;}
span#colorbox198{background-color:#F2CCF2;}
span#colorbox199{background-color:#F2CCF2;}
span#colorbox200{background-color:#F2CCF2;}
span#colorbox201{background-color:#F2CCF2;}
span#colorbox202{background-color:#F2CCF2;}
span#colorbox203{background-color:#F2CCF2;}
span#colorbox204{background-color:#F2CCF2;}
span#colorbox205{background-color:#F2CCF2;}
span#colorbox206{background-color:#F2CCF2;}
span#colorbox207{background-color:#F2CCF2;}
span#colorbox208{background-color:#F2CCF2;}
span#colorbox209{background-color:#F2CCF2;}
span#colorbox210{background-color:#F2CCF2;}
span#colorbox211{background-color:#F2CCF2;}
span#colorbox212{background-color:#F2CCF2;}
span#colorbox213{background-color:#F2CCF2;}
span#colorbox214{background-color:#F2CCF2;}
span#colorbox215{background-color:#F2CCF2;}
span#colorbox216{background-color:#F2CCF2;}
span#colorbox217{background-color:#F2CCF2;}
span#colorbox218{background-color:#F2CCF2;}
span#colorbox219{background-color:#F2CCF2;}
span#colorbox220{background-color:#F2CCF2;}
span#colorbox221{background-color:#F2CCF2;}
span#colorbox222{background-color:#F2CCF2;}
span#colorbox223{background-color:#F2CCF2;}
span#colorbox224{background-color:#F2CCF2;}
span#colorbox225{background-color:#F2CCF2;}
span#colorbox226{background-color:#F2CCF2;}
span#colorbox227{background-color:#F2CCF2;}
span#colorbox228{background-color:#F2CCF2;}
span#colorbox229{background-color:#F2CCF2;}
span#colorbox230{background-color:#F2CCF2;}
span#colorbox231{background-color:#F2CCF2;}
#mdframed-17{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
#mdframed-18{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox232{background-color:#F2CCF2;}
span#colorbox233{background-color:#F2CCF2;}
span#colorbox234{background-color:#F2CCF2;}
span#colorbox235{background-color:#F2CCF2;}
span#colorbox236{background-color:#F2CCF2;}
span#colorbox237{background-color:#F2CCF2;}
span#colorbox238{background-color:#F2CCF2;}
span#colorbox239{background-color:#F2CCF2;}
span#colorbox240{background-color:#F2CCF2;}
span#colorbox241{background-color:#F2CCF2;}
span#colorbox242{background-color:#F2CCF2;}
span#colorbox243{background-color:#F2CCF2;}
#mdframed-19{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox244{background-color:#F2CCF2;}
span#colorbox245{background-color:#F2CCF2;}
span#colorbox246{background-color:#F2CCF2;}
span#colorbox247{background-color:#F2CCF2;}
span#colorbox248{background-color:#F2CCF2;}
span#colorbox249{background-color:#F2CCF2;}
span#colorbox250{background-color:#F2CCF2;}
span#colorbox251{background-color:#F2CCF2;}
span#colorbox252{background-color:#F2CCF2;}
span#colorbox253{background-color:#F2CCF2;}
span#colorbox254{background-color:#F2CCF2;}
span#colorbox255{background-color:#F2CCF2;}
span#colorbox256{background-color:#F2CCF2;}
span#colorbox257{background-color:#F2CCF2;}
span#colorbox258{background-color:#F2CCF2;}
span#colorbox259{background-color:#F2CCF2;}
span#colorbox260{background-color:#F2CCF2;}
span#colorbox261{background-color:#F2CCF2;}
span#colorbox262{background-color:#F2CCF2;}
span#colorbox263{background-color:#F2CCF2;}
span#colorbox264{background-color:#F2CCF2;}
span#colorbox265{background-color:#F2CCF2;}
span#colorbox266{background-color:#F2CCF2;}
span#colorbox267{background-color:#F2CCF2;}
span#colorbox268{background-color:#F2CCF2;}
span#colorbox269{background-color:#F2CCF2;}
span#colorbox270{background-color:#F2CCF2;}
span#colorbox271{background-color:#F2CCF2;}
span#colorbox272{background-color:#F2CCF2;}
span#colorbox273{background-color:#F2CCF2;}
span#colorbox274{background-color:#F2CCF2;}
span#colorbox275{background-color:#F2CCF2;}
span#colorbox276{background-color:#F2CCF2;}
span#colorbox277{background-color:#F2CCF2;}
span#colorbox278{background-color:#F2CCF2;}
span#colorbox279{background-color:#F2CCF2;}
span#colorbox280{background-color:#F2CCF2;}
#mdframed-20{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox281{background-color:#F2CCF2;}
span#colorbox282{background-color:#F2CCF2;}
span#colorbox283{background-color:#F2CCF2;}
span#colorbox284{background-color:#F2CCF2;}
span#colorbox285{background-color:#F2CCF2;}
span#colorbox286{background-color:#F2CCF2;}
span#colorbox287{background-color:#F2CCF2;}
span#colorbox288{background-color:#F2CCF2;}
span#colorbox289{background-color:#F2CCF2;}
span#colorbox290{background-color:#F2CCF2;}
span#colorbox291{background-color:#F2CCF2;}
span#colorbox292{background-color:#F2CCF2;}
span#colorbox293{background-color:#F2CCF2;}
span#colorbox294{background-color:#F2CCF2;}
span#colorbox295{background-color:#F2CCF2;}
span#colorbox296{background-color:#F2CCF2;}
span#colorbox297{background-color:#F2CCF2;}
span#colorbox298{background-color:#F2CCF2;}
span#colorbox299{background-color:#F2CCF2;}
span#colorbox300{background-color:#F2CCF2;}
span#colorbox301{background-color:#F2CCF2;}
#mdframed-21{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox302{background-color:#F2CCF2;}
span#colorbox303{background-color:#F2CCF2;}
#mdframed-22{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox304{background-color:#F2CCF2;}
span#colorbox305{background-color:#F2CCF2;}
span#colorbox306{background-color:#F2CCF2;}
span#colorbox307{background-color:#F2CCF2;}
span#colorbox308{background-color:#F2CCF2;}
span#colorbox309{background-color:#F2CCF2;}
span#colorbox310{background-color:#F2CCF2;}
span#colorbox311{background-color:#F2CCF2;}
span#colorbox312{background-color:#F2CCF2;}
span#colorbox313{background-color:#F2CCF2;}
span#colorbox314{background-color:#F2CCF2;}
span#colorbox315{background-color:#F2CCF2;}
span#colorbox316{background-color:#F2CCF2;}
span#colorbox317{background-color:#F2CCF2;}
span#colorbox318{background-color:#F2CCF2;}
span#colorbox319{background-color:#F2CCF2;}
span#colorbox320{background-color:#F2CCF2;}
span#colorbox321{background-color:#F2CCF2;}
span#colorbox322{background-color:#F2CCF2;}
span#colorbox323{background-color:#F2CCF2;}
span#colorbox324{background-color:#F2CCF2;}
span#colorbox325{background-color:#F2CCF2;}
span#colorbox326{background-color:#F2CCF2;}
span#colorbox327{background-color:#F2CCF2;}
span#colorbox328{background-color:#F2CCF2;}
span#colorbox329{background-color:#F2CCF2;}
span#colorbox330{background-color:#F2CCF2;}
span#colorbox331{background-color:#F2CCF2;}
span#colorbox332{background-color:#F2CCF2;}
span#colorbox333{background-color:#F2CCF2;}
span#colorbox334{background-color:#F2CCF2;}
span#colorbox335{background-color:#F2CCF2;}
span#colorbox336{background-color:#F2CCF2;}
span#colorbox337{background-color:#F2CCF2;}
#mdframed-23{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox338{background-color:#F2CCF2;}
span#colorbox339{background-color:#F2CCF2;}
span#colorbox340{background-color:#F2CCF2;}
span#colorbox341{background-color:#F2CCF2;}
span#colorbox342{background-color:#F2CCF2;}
span#colorbox343{background-color:#F2CCF2;}
span#colorbox344{background-color:#F2CCF2;}
span#colorbox345{background-color:#F2CCF2;}
span#colorbox346{background-color:#F2CCF2;}
span#colorbox347{background-color:#F2CCF2;}
span#colorbox348{background-color:#F2CCF2;}
span#colorbox349{background-color:#F2CCF2;}
span#colorbox350{background-color:#F2CCF2;}
span#colorbox351{background-color:#F2CCF2;}
span#colorbox352{background-color:#F2CCF2;}
span#colorbox353{background-color:#F2CCF2;}
span#colorbox354{background-color:#F2CCF2;}
span#colorbox355{background-color:#F2CCF2;}
span#colorbox356{background-color:#F2CCF2;}
span#colorbox357{background-color:#F2CCF2;}
span#colorbox358{background-color:#F2CCF2;}
span#colorbox359{background-color:#F2CCF2;}
span#colorbox360{background-color:#F2CCF2;}
span#colorbox361{background-color:#F2CCF2;}
span#colorbox362{background-color:#F2CCF2;}
span#colorbox363{background-color:#F2CCF2;}
span#colorbox364{background-color:#F2CCF2;}
span#colorbox365{background-color:#F2CCF2;}
span#colorbox366{background-color:#F2CCF2;}
span#colorbox367{background-color:#F2CCF2;}
span#colorbox368{background-color:#F2CCF2;}
span#colorbox369{background-color:#F2CCF2;}
span#colorbox370{background-color:#F2CCF2;}
span#colorbox371{background-color:#F2CCF2;}
span#colorbox372{background-color:#F2CCF2;}
span#colorbox373{background-color:#F2CCF2;}
span#colorbox374{background-color:#F2CCF2;}
span#colorbox375{background-color:#F2CCF2;}
#mdframed-24{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
#mdframed-25{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
#mdframed-26{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox376{background-color:#F2CCF2;}
span#colorbox377{background-color:#F2CCF2;}
span#colorbox378{background-color:#F2CCF2;}
span#colorbox379{background-color:#F2CCF2;}
span#colorbox380{background-color:#F2CCF2;}
span#colorbox381{background-color:#F2CCF2;}
span#colorbox382{background-color:#F2CCF2;}
span#colorbox383{background-color:#F2CCF2;}
span#colorbox384{background-color:#F2CCF2;}
span#colorbox385{background-color:#F2CCF2;}
span#colorbox386{background-color:#F2CCF2;}
span#colorbox387{background-color:#F2CCF2;}
span#colorbox388{background-color:#F2CCF2;}
span#colorbox389{background-color:#F2CCF2;}
span#colorbox390{background-color:#F2CCF2;}
span#colorbox391{background-color:#F2CCF2;}
span#colorbox392{background-color:#F2CCF2;}
span#colorbox393{background-color:#F2CCF2;}
span#colorbox394{background-color:#F2CCF2;}
span#colorbox395{background-color:#F2CCF2;}
#mdframed-27{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
#mdframed-28{border:2.0pt solid #800080; background-color: #FFF2FF; color:#000000;}
span#colorbox396{background-color:#F2CCF2;}
span#colorbox397{background-color:#F2CCF2;}
span#colorbox398{background-color:#F2CCF2;}
span#colorbox399{background-color:#F2CCF2;}
span#colorbox400{background-color:#F2CCF2;}
span#colorbox401{background-color:#F2CCF2;}
span#colorbox402{background-color:#F2CCF2;}
span#colorbox403{background-color:#F2CCF2;}
span#colorbox404{background-color:#F2CCF2;}
span#colorbox405{background-color:#F2CCF2;}
span#colorbox406{background-color:#F2CCF2;}
span#colorbox407{background-color:#F2CCF2;}
span#colorbox408{background-color:#F2CCF2;}
span#colorbox409{background-color:#F2CCF2;}
span#colorbox410{background-color:#F2CCF2;}
span#colorbox411{background-color:#F2CCF2;}
span#colorbox412{background-color:#F2CCF2;}
span#colorbox413{background-color:#F2CCF2;}
span#colorbox414{background-color:#F2CCF2;}
span#colorbox415{background-color:#F2CCF2;}
span#colorbox416{background-color:#F2CCF2;}
span#colorbox417{background-color:#F2CCF2;}
span#colorbox418{background-color:#F2CCF2;}
span#colorbox419{background-color:#F2CCF2;}
span#colorbox420{background-color:#F2CCF2;}
/* end css.sty */

